.sider-scroll {
    overflow-y: hidden;
    z-index: auto;

    // ::-webkit-scrollbar {
    //     width: 5px;
    // }

    // ::-webkit-scrollbar-thumb
    // {
    //     background-color: #555555;
    //     border: 2px solid #555555;
    // }
}

.main-menu-scroll {
    height: 100vh;
    overflow-y: scroll;
}